.todo-input {
  padding: 0.5em;
  border-radius: 0.5em 0 0 0.5em;
  border: none;
  width: 90%;

  &:focus {
    outline: none;
  }
}
.todo-btn {
  border: none;
  height: 100%;
  padding: 0 1em;
  border-radius: 0 0.5em 0.5em 0;

  background-color: var(--text-color-header);
  color: white;
  cursor: pointer;

  &:hover {
    background-color: #15165d;
  }
}
