.footer-container {
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer-right-side {
    display: flex;
    gap: 0.3em;

    .social-media-icon {
      fill: white;
      transition: all 0.2s;
      &:hover {
        fill: #3f4085;
      }
    }
  }
}
