.btn-userTodoAction {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: var(--secondary-color);
  }
}
