.todo-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;

  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  gap: 1em;

  .todo-left-side {
    width: 100%;
    padding: 1em;
    cursor: pointer;
  }
  .todo-right-side {
    display: flex;
    gap: 0.5em;
    padding-right: 1em;
  }
}

.Done {
  text-decoration: line-through;
  background-color: rgb(63, 64, 133);
  opacity: 0.5;
  color: white;
}
