.social-media-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 100%;
  background-color: antiquewhite;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #3f3f84;
  }
  &:active {
    background-color: #5152b4;
  }
}
